
/*......................................General*/

html, body {
  background-image: url("/img/background.jpeg");
  height: 100%;
  width: 100%;
  margin: 0;
  
}
p {
  text-align: center;
}

.row {
  margin-top: -10px;
}


/*....................................Navbar*/

.nav-properties{ 
  margin-top: 10px;
}

.navbar-default {
    height: 70px;
    border-color: #080808;
    background-color: #001f3f;
}


.navbar-default .navbar-nav>li>a {
    color:#ffffff;
    font-size: 1.2em;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 2.2em;
    font-weight: bolder;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #0074D9;
    color: #ffffff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #0074D9;
    background-color: transparent;
}
.icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background-color: #001f3f;
}

.navbar-default .navbar-nav li a:focus,.navbar-default .navbar-nav li a:hover {
  background-color: #0074D9;
  transition: 0.9s all linear;
  height: 100%;
  color: #ffffff;
}

/*.................................................Play-area */
main {
  margin-top:0;
}
.container-fluid play-area{
  width: 70%;
}
.game-title {
  padding-top: 14px;
  font-family: 'Coiny', cursive;
  font-size: 2.3em;
  font-weight: 600;
}

.play-area, .center-circle {
  background: #000000;
  border-color: #000000;
}
.play-area {
  position: relative;
  margin: 50px auto;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 1px solid;
  box-shadow: none;
  text-align: center;
}

.center-circle {
  position: absolute;
  top: 150px;
  left: 150px;
  height: 40%;
  width: 40%;
  border-radius: 50%;
  
}


.center-panel {
  position: relative;
  background: white;
  height: 160px;
  width: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
}

.game-btn {
  position: absolute;
  height: 44%;
  width: 44%;
}
.game-btn.top-left {
  top: 20px;
  left: 20px;
  background-color: #2659a9;
  border-radius: 100% 0 0 0;
}
.game-btn.top-right {
  top: 20px;
  right: 20px;
  background-color: #d62626;
  border-radius: 0 100% 0 0;
}
.game-btn.bottom-right {
  bottom: 20px;
  right: 20px;
  background-color: #eec026;
  border-radius: 0 0 100% 0;
}
.game-btn.bottom-left {
  bottom: 20px;
  left: 20px;
  background-color: #26b644;
  border-radius: 0 0 0 100%;
}
.game-btn:hover {
  cursor: pointer;
}

.label {
  position: absolute;
  padding: 4px;
  color: black;
  font-family: 'Coiny', cursive;
}

#score-screen {
  position: relative;
  margin-left: 7%;
  margin-top: 3%;
  font-family: 'VT323', mono;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  background: #000;
  border: 2px inset rgba(0, 0, 0, 0.2);
  border-radius: .1em;
  box-shadow: 0 0 1.5em 0.1em rgba(0, 0, 0, 0.25) inset;
  width: 1.2em;
  height: 1em;
}

.btn-small {
  margin: 14px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid #343838;
  box-shadow: 0 1px rgba(0, 0, 0, 0.4);
  background: black;
}

.strict-led {
  vertical-align: top;
  margin-top: 5px;
  padding: 4px;
  width: 4px;
  height: 4px;
  background-color: #460000;
  border-radius: 100%;
  border: 1px solid #343838;
}

#btn-reset {
  background-color: #191970;
}

#btn-start {
  background-color:#26b644 ;
}

#btn-strict {
  background-color:#800000;
  
}



/*social..........................................*/
.social-links{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    
    
}

.social-links li a i {
    width: 38px;
    height: 38px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 12px;
    text-align: center;
    color: #ffffff;
    background:#001f3f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
    
}

.social-links li a i:hover {
    background: #0074D9;
}

.inline-block {
    padding-top: 1%;
    padding-bottom: 8%;
    display: inline-block;
    text-align: center;
}

.inline-block a .glyphicon {
    padding-top: 1%;
    text-decoration: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #ffffff;
    background:#cc0000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}

.inline-block a .glyphicon:hover{
    background: #fd0000;
}

.link-text {
    margin-top: 2%;
    font-size: 100%;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
   
}

/*.................................................................Article */
.article-style p{
  font-size: 1.3em;
  padding-top:2%;
  padding-bottom:3%;
  margin-bottom:0;
  

  
}
.article-style h2 {
  padding-top:3%;
}
article {
  margin-top: 1%;
  background-color:	rgb(0,31,63,0.7);
  color:white;
  border-style: solid;
  border-width: 1px;
}


/*.................;..............................................footer.*/
.footer-text {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  margin-bottom:0;
  
  
}
footer {
  margin-bottom: 0;
  margin-top:0;
  
}


/*............................................................... media*/

@media (max-width: 785px){
  .play-area  {
    width: 351px;
    height: 351px;
    margin-top: 70px;
    margin-bottom: 60px;
    
  }
  
  .center-circle {
    top: 90px;
    left: 90px;
    height: 50%;
    width:50%;
    
  }
  
  .center-panel{
    top: 8px;
    left: 8px;
  }
  
  main {
    margin-top: 7%;
}
  article {
    margin-top: 7%;
  
}
}
@media (max-width: 360px){
  .play-area  {
    width: 351px;
    height: 351px;
    right: 9px;
  }
}